#portfolio {
    display: contents;
}

.shot-item {
    text-align: center;
}

.portfolio-item--subtitle {
    margin: 12px 0;
}

.portfolio-item--img {
    max-height: 300px;
    max-width: 100%;
    width: auto !important;
}
