.input-file-with-preview__img-container {
    margin-bottom: 16px;
}

.input-file-with-preview__img-container--img {
    max-width: 250px;
}

/*

*/
html,
body {
    position: relative;
    height: 100%;
}

.table>tbody>tr>td {
    vertical-align: middle;
}

